SECRET_KEY=r6b_imd3j#=5a_1s88gts_quv+zs3hf(i2er_rg!$lod_p&a$
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

#data base setting
NAME=databasename
USER=databaseuser
PASSWORD=databasepassword
HOST=yourhost
PORT=5432
